.principal{
    background-color: black;
}

.secundario{
    color: rgb(243, 53, 53);
    font-size: 30px;
    margin-left: 1200px;
}

.terciario{
    color: rgb(243, 53, 53);
    font-size: 30px;
    margin-left: 1200px;

}