body{
   
    font-size: 25px;
    background-image: url("image.png");
    backdrop-filter: blur(6px);
    border: 25px;
    

}

.primaria{
    position: absolute;
    border: 1px solid white;

   

}

.secundaria{
    border: 1px solid white;
   position: relative;
    top: 75px;
    
}
